/* styles.css */
:root{
--bg: #000c18;
--text: #2277ff;
--black: #000;
}


*{box-sizing:border-box}
html,body{width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;}
  #cesiumContainer{
  position:relative;
    width: 100%;
  height: 650px;
  margin: 0;
  padding: 0;
  overflow: hidden;}
#cesiumContainer:fullscreen,
 :-webkit-full-screen #cesiumContainer {
      width: 100%;
      height: 100%;
    }
#cesiumContainer:fullscreen ~ *,
:-webkit-full-screen #cesiumContainer ~ * {
  display: none;
}
#cameraWidget {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(10, 2, 122, 0.6);
  color: #ff06d5;
  font-family: monospace;
  font-size: 1.4em;
  padding: 6px 10px;
  border-radius: 6px;
  pointer-events: none; /* ne bloque pas les clics sur la carte */
  z-index: 100000;
}
body{
margin:0;
font-family: Consolas, 'Courier New', Courier, monospace;
background:var(--bg);
color:var(--text);
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}
.container{
max-width:1100px;
margin:0 auto;
padding:1rem;
}


.site-header{
background:#223355;
border-bottom:1px solid rgba(0,0,0,0.06);
position:fixed;
top:0;
left:0;
right:0;
z-index:1000;
}
.site-header .container{
display:flex;
align-items:center;
justify-content:space-between;
gap:1rem;
}
.logo{
margin:0;
font-size:1.25rem;
}


.main-nav ul{
list-style:none;
margin:0;
padding:0;
display:flex;
gap:0.75rem;
}


.main-nav a{
display:inline-block;
padding:0.5rem 0.9rem;
background:var(--black);
color:#f280d0;
text-decoration:none;
border-radius:6px;
font-weight:700;
letter-spacing:0.02em;
}


.hero{
padding:6rem 0 2rem 0; /* add top padding to avoid overlap with fixed header */
}
.hero h2{
margin-top:0;
}


.content-cards{
display:flex;
gap:1rem;
flex-wrap:wrap;
}
.card{
background:#b0b0b0;
padding:1rem;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.04);
flex:1 1 220px;
}


.site-footer{
padding:1rem 0;
text-align:center;
color:rgba(0,0,0,0.6);
}


@media (max-width:700px){
.main-nav ul{
flex-wrap:wrap;
justify-content:center;
}
}